* {
    margin: 0;
    padding: 0;
}

body {
    border: 0.5px dashed red;
}

h1 {
    border: 0.5px dashed green;
}

p {
    border: 0.5px dashed yellow;
}

header {
    position:fixed;
    background-color: yellowgreen;
    width: 100%;
    height: 100px;
}

div {
    border: 0.5px dashed black;
    width:100px;
    height:100px;
    margin: 20px;
    background-color: skyblue;
    /* display: inline-block; */
    display: block;
}

span {
    border: 1px dashed purple;
    width:100px;
    height:100px;
    margin: 20px;
    background-color: orange;
    display: block;
}

.special {
    left: 30px;
    top: 30px;
    color: white;
}

footer {
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: yellowgreen;
}

main {
    margin-top: 120px; 
}